{% extends 'base.html.twig' %}

{% block title %}Questa è una pagina di prova, hola!{% endblock %}

{% block body %}

<div class="dipendenteclasse">

Nome e mail del dipendente:

<h1>{{ bicchiere.nome }}</h1>
<h2>{{ bicchiere.email }}</h2>

</div>
{% endblock %}